<?xml version="1.0"?>
<config>
    <modules>
        <BlueAcorn_ShiphawkFix>
            <version>0.1.0</version>
        </BlueAcorn_ShiphawkFix>
    </modules>
    <global>
        <models>
            <blueacorn_shiphawkfix>
                <class>BlueAcorn_ShiphawkFix_Model</class>
            </blueacorn_shiphawkfix>
            <checkout>
                <rewrite>
                    <cart>BlueAcorn_ShiphawkFix_Model_Checkout_Cart</cart>
                </rewrite>
            </checkout>
        </models>
    </global>
</config>