#grid {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    pointer-events: none;
    .mobile, .tablet, .desktop {
        display: none;
        float: left;
        width: 100%;
        height: 100%;
        border-top: 1px solid $brand-tertiary;
        border-bottom: 1px solid $brand-tertiary;
        div {
            float: left;
            height: 100%;
            border-left: 1px solid $brand-tertiary;
            border-right: 1px solid $brand-tertiary;
            background: rgba(255,213,0,.25);
        }
    }
    .mobile {
        @include grid-media(m, min-max) { display: block; }
    }
    .tablet {
        @include grid-media(t, min-max) { display: block; }
    }
    .desktop {
        @include grid-media(d, min) { display: block; }
        float: none;
        margin: 0 auto;
        width: 1024px;
    }
}

@for $i from 1 through 8 {
    @if ($i <= 6) {
        .m-#{$i} {
            @include g(m, $i);
        }
    }
    .t-#{$i} {
        @include g(t, $i);
    }
    .d-#{$i} {
        @include g(d, $i);
    }
}