<?xml version="1.0"?>
<config>
    <modules>
        <MissionRS_AmastyDealer>
            <version>0.0.1</version>
        </MissionRS_AmastyDealer>
    </modules>
    <global>
        <models>
            <missionrs_amastydealer>
                <class>MissionRS_AmastyDealer_Model</class>
            </missionrs_amastydealer>
        </models>
        <helpers>
            <missionrs_amastydealer>
                <class>MissionRS_AmastyDealer_Helper</class>
            </missionrs_amastydealer>
        </helpers>
    </global>
    <adminhtml>
        <events>
            <checkout_submit_all_after>
                <observers>
                    <missionrs_amastydealer_checkout_submit_all_after>
                        <class>missionrs_amastydealer/observer</class>
                        <method>adminCheckoutSubmitAllAfter</method>
                    </missionrs_amastydealer_checkout_submit_all_after>
                </observers>
            </checkout_submit_all_after>
        </events>
    </adminhtml>
    <frontend>
        <events>
            <sales_order_place_after>
                <observers>
                    <missionrs_amastydealer_sales_order_place_after>
                        <class>missionrs_amastydealer/observer</class>
                        <method>salesOrderPlaceAfter</method>
                    </missionrs_amastydealer_sales_order_place_after>
                </observers>
            </sales_order_place_after>
        </events>
    </frontend>
</config>
