<?xml version="1.0"?>
<config>
    <modules>
        <MissionRS_AmastyListGuides>
            <version>0.1.0</version>
        </MissionRS_AmastyListGuides>
    </modules>
    <global>
        <blocks>
            <amlist>
                <rewrite>
                    <index>MissionRS_AmastyListGuides_Block_Index</index>
                </rewrite>
            </amlist>
        </blocks>
    </global>
    <frontend>
        <routers>
            <amlist>
                <args>
                    <modules>
                        <missionrs_amastylistguides before="Amasty_List">MissionRS_AmastyListGuides</missionrs_amastylistguides>
                    </modules>
                </args>
            </amlist>
        </routers>
    </frontend>
</config>
