<?xml version="1.0"?>
<!--
/**
 * The MiniGrid is that grid that you see around magento like
 * in the tier prices area of the catalog product edit admin
 * page. This module makes this grid a system config frontend
 * type that can be used for a wide variety of things that require
 * a bit more love than a multiselect.
 * 
 * @package Blueacorn
 * @subpackage MiniGrid
 * @version 1.0.0
 * @author Brys Sepulveda
 */
-->
<config>
    <modules>
        <Blueacorn_MiniGrid>
            <version>1.0.0</version>
        </Blueacorn_MiniGrid>
    </modules>
    <global>
        <blocks>
            <baminigrid>
                <class>Blueacorn_MiniGrid_Block</class>
            </baminigrid>
            <adminhtml>
                <rewrite>
                    <system_config_form>Blueacorn_MiniGrid_Block_System_Config_Form</system_config_form>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <baminigrid>
                <class>Blueacorn_MiniGrid_Helper</class>
            </baminigrid>
        </helpers>
        <models>
            <baminigrid>
                <class>Blueacorn_MiniGrid_Model</class>
            </baminigrid>
        </models>
    </global>
</config>
