# app
#####

/snapshots/
# to track a file in /snapshots/, prefix it with a ! below.

# editors
#########

/nbproject/
/.settings/
/.project
/.pydevproject
/.classpath
/.buildpath
.idea/
*.iml

# vim
*~
*.swp
*.swo

_notes
_compareTemp
configs/
dwsync.xml
dw_php_codehinting.config
*.mno


# compiled source
#################

*.js.map
*.css.map
*.com
*.class
*.dll
*.exe
*.o
*.so


# general
#########
npm-debug.log
*.tmp
.DS_Store
Thumbs.db
*.orig
