<?xml version="1.0"?>
<config>
    <modules>
        <BlueAcorn_CacheManagementMods>
            <version>0.1.0</version>
        </BlueAcorn_CacheManagementMods>
    </modules>
    <global>
        <models>
            <blueacorn_cachemanagementmods>
                <class>BlueAcorn_CacheManagementMods_Model</class>
                <resourceModel>blueacorn_cachemanagementmods_resource</resourceModel>
            </blueacorn_cachemanagementmods>
            <blueacorn_cachemanagementmods_resource>
                <class>BlueAcorn_CacheManagementMods_Model_Resource</class>
            </blueacorn_cachemanagementmods_resource>
        </models>
        <blocks>
            <blueacorn_cachemanagementmods>
                <class>BlueAcorn_CacheManagementMods_Block</class>
            </blueacorn_cachemanagementmods>
        </blocks>
        <helpers>
            <blueacorn_cachemanagementmods>
                <class>BlueAcorn_CacheManagementMods_Helper</class>
            </blueacorn_cachemanagementmods>
        </helpers>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <BlueAcorn_CacheManagementMods>
                    <file>blueacorn/cachemanagementmods.xml</file>
                </BlueAcorn_CacheManagementMods>
            </updates>
        </layout>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <blueacorn_cachemanagementmods>
                                            <title>Cache Management Mods</title>
                                        </blueacorn_cachemanagementmods>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <blueacorn_cachemanagementmods before="Mage_Adminhtml">BlueAcorn_CacheManagementMods_Adminhtml</blueacorn_cachemanagementmods>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>