<?xml version="1.0"?>
<config>
    <modules>
        <Levementum_AdminOrders>
            <version>0.1.1</version>
        </Levementum_AdminOrders>
    </modules>
    <global>
        <blocks>
            <adminorders>
                <class>Levementum_AdminOrders_Block</class>
            </adminorders>
            <adminhtml>
                <rewrite>
                    <sales_order_create_customer_grid>Levementum_AdminOrders_Block_Adminhtml_Sales_Order_Create_Customer_Grid</sales_order_create_customer_grid>
                    <sales_order_create_search_grid>Levementum_AdminOrders_Block_Adminhtml_Sales_Order_Create_Search_Grid</sales_order_create_search_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <adminorders>
                <class>Levementum_AdminOrders_Helper</class>
            </adminorders>
            <udpo>
                <rewrite>
                    <data>Levementum_AdminOrders_Helper_DropshipPo_Data</data>
                </rewrite>
            </udpo>
        </helpers>
        <models>
            <adminorders>
                <class>Levementum_AdminOrders_Model</class>
            </adminorders>
        </models>
        <resources>
            <levementum_adminorders_setup>
                <setup>
                    <module>Levementum_AdminOrders</module>
                    <class>Mage_Sales_Model_Resource_Setup</class>
                </setup>
            </levementum_adminorders_setup>
        </resources>
    </global>
    <adminhtml>
        <events>
            <checkout_submit_all_after>
                <observers>
                    <levementum_adminorders>
                        <class>adminorders/observer</class>
                        <method>adminCheckoutSubmitAllAfter</method>
                    </levementum_adminorders>
                </observers>
            </checkout_submit_all_after>
        </events>
    </adminhtml>
</config>