<?xml version="1.0" encoding="UTF-8"?>
<config>
    <sections>
        <carriers>
            <groups>
                <shiphawk_shipping translate="label">
                    <label>ShipHawk</label>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <extensions translate="label">
                            <label>Installed aheadWorks Extensions</label>
                            <frontend_type>text</frontend_type>
                            <frontend_model>shiphawk_shipping/version</frontend_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </extensions>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <hide_on_frontend translate="label">
                            <label>Hide on frontend?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </hide_on_frontend>
                        <hide_accessories_on_frontend translate="label">
                            <label>Accessories: Hide on frontend?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </hide_accessories_on_frontend>
                        <enable_log translate="label">
                            <label>Debug Logging?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>13</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_log>
                        <email_error_to_shiphawk translate="label">
                            <label>Email errors to ShipHawk?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>14</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><enable_log>1</enable_log></depends>
                        </email_error_to_shiphawk>
                        <shiphawk_error_message translate="label">
                            <label>Error message</label>
                            <comment>Error message for when a ShipHawk rate does not return</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>18</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </shiphawk_error_message>
                        <calc_rate_on_cart_change translate="label">
                            <label>Calculate Rate on Cart Change</label>
                            <comment>Disabling this will decrease cart load time, but not provided updated shipping rates</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>19</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </calc_rate_on_cart_change>
                        <api_key translate="label">
                            <label>Api Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </api_key>
                        <gateway_url translate="label">
                            <label>Gateway Mode</label>
                            <frontend_type>select</frontend_type>
                            <source_model>shiphawk_shipping/source_gateway</source_model>
                            <sort_order>21</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </gateway_url>
                        <rate_filter translate="label">
                            <label>Rate Filter</label>
                            <frontend_type>select</frontend_type>
                            <source_model>shiphawk_shipping/source_ratefilter</source_model>
                            <sort_order>22</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </rate_filter>
                        <admin_rate_filter translate="label">
                            <label>Admin panel rate filter</label>
                            <frontend_type>select</frontend_type>
                            <source_model>shiphawk_shipping/source_adminratefilter</source_model>
                            <sort_order>23</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </admin_rate_filter>
                        <discount_percentage translate="label">
                            <label>Markup or Discount Percentage</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>24</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>possible values from -100 to 100</comment>
                        </discount_percentage>
                        <discount_fixed translate="label">
                            <label>Markup or Discount Flat Amount</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>possible values from -∞ to ∞</comment>
                        </discount_fixed>
                        <carrier_type translate="label">
                            <label>Carrier Type</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>shiphawk_shipping/source_carriertype</source_model>
                            <sort_order>26</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </carrier_type>
                        <free_method>
                            <label>Free Shipping Method</label>
                            <frontend_type>select</frontend_type>
                            <source_model>shiphawk_shipping/source_freeshipping</source_model>
                            <sort_order>27</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </free_method>
                        <item_is_packed translate="label">
                            <label>Default packing setting</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </item_is_packed>
                        <opt_to_self_pack translate="label">
                            <label>Opt to Self Pack</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>41</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </opt_to_self_pack>
                        <charge_customer_for_packing translate="label">
                            <label>Charge customer for packing</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>42</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>This option works only when Opt to Self Pack set to Yes.</comment>
                            <depends><opt_to_self_pack>1</opt_to_self_pack></depends>
                        </charge_customer_for_packing>
                        <shiphawk_custom_packing_price translate="label">
                            <label>Custom Packing Prices?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>43</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </shiphawk_custom_packing_price>
                        <book_shipment translate="label">
                            <label>Manual book shipment</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>44</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </book_shipment>
                        <order_received translate="label">
                            <label>Send order receipts to:</label>
                            <frontend_type>select</frontend_type>
                            <source_model>shiphawk_shipping/source_received</source_model>
                            <sort_order>51</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </order_received>
                        <administrator_email translate="label">
                            <label>Administrator Email</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>52</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </administrator_email>
                        <shipment_status_updates translate="label">
                            <label>Email status updates to customer?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment>There can be many updates for each shipment</comment>
                            <sort_order>53</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </shipment_status_updates>
                        <updates_tracking_url translate="label">
                            <label>Email tracking URL to customer?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>54</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </updates_tracking_url>
                        <showmethod translate="label">
                            <label>Show Method if Not Applicable</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>55</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </showmethod>
                        <!--Flat rate should have next settings:
                        1. Applicable (select): For all carts, For separate parcels in multi-parcel carts, Disabled.
                        2. Rate title (input)
                        3. Type (select): Per Item, Per Parcel
                        4. Price (input)-->
                        <separator_field>
                            <label> </label>
                            <frontend_model>shiphawk_shipping/adminhtml_separator</frontend_model>
                            <sort_order>66</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <can_be_empty>1</can_be_empty>
                        </separator_field>
                        <applicable translate="label">
                            <label>Applicable for:</label>
                            <sort_order>67</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>shiphawk_shipping/source_applicable</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </applicable>
                        <rate_title translate="label">
                            <label>Rate title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>68</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </rate_title>
                        <rate_type translate="label">
                            <label>Type</label>
                            <sort_order>69</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>shiphawk_shipping/source_ratetype</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </rate_type>
                        <rate_price translate="label">
                            <label>Price</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </rate_price>
                        <separator_field2>
                            <label> </label>
                            <frontend_model>shiphawk_shipping/adminhtml_separator</frontend_model>
                            <sort_order>71</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <can_be_empty>1</can_be_empty>
                        </separator_field2>
                        <sallowspecific translate="label">
                            <label>Available for specific countries only</label>
                            <frontend_type>select</frontend_type>
                            <frontend_class>shipping-applicable-country</frontend_class>
                            <source_model>adminhtml/system_config_source_shipping_allspecificcountries</source_model>
                            <sort_order>71</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sallowspecific>
                        <specificcountry translate="label">
                            <label>Ship to Specific Countries</label>
                            <frontend_type>multiselect</frontend_type>
                            <sort_order>72</sort_order>
                            <source_model>adminhtml/system_config_source_country</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <can_be_empty>1</can_be_empty>
                        </specificcountry>
                        <origin_first_name translate="label">
                            <label>Origin First Name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </origin_first_name>
                        <origin_last_name translate="label">
                            <label>Origin Last Name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>81</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </origin_last_name>
                        <origin_address translate="label">
                            <label>Origin Address</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>82</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </origin_address>
                        <origin_address2 translate="label">
                            <label>Origin Address 2</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>83</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </origin_address2>
                        <origin_city translate="label">
                            <label>Origin City</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>84</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </origin_city>
                        <origin_state translate="label">
                            <label>Origin State</label>
                            <frontend_type>select</frontend_type>
                            <source_model>shiphawk_shipping/source_states</source_model>
                            <sort_order>85</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </origin_state>
                        <default_origin translate="label">
                            <label>Default Origin Zipcode </label>
                            <frontend_type>text</frontend_type>
                            <sort_order>86</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </default_origin>
                        <origin_location_type translate="label">
                            <label>Origin Location Type</label>
                            <frontend_type>select</frontend_type>
                            <source_model>shiphawk_shipping/source_location</source_model>
                            <sort_order>87</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </origin_location_type>
                        <origin_phone translate="label">
                            <label>Origin Phone</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>88</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </origin_phone>
                        <origin_email translate="label">
                            <label>Origin Email </label>
                            <frontend_type>text</frontend_type>
                            <sort_order>89</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </origin_email>
                        <file_import translate="label comment">
                            <label>Import Origins</label>
                            <comment><![CDATA[File saved in <strong><span style="color: red;">var/shiphawk/import</span></strong> folder.]]></comment>
                            <frontend_type>file</frontend_type>
                            <backend_model>adminhtml/system_config_backend_file</backend_model>
                            <upload_dir>var/shiphawk/import</upload_dir>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </file_import>

                        <importbutton translate="label">
                            <frontend_type>button</frontend_type>
                            <frontend_model>shiphawk_shipping/adminhtml_system_config_form_button</frontend_model>
                            <sort_order>51</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Upload csv file, before start import</comment>
                        </importbutton>
                    </fields>
                </shiphawk_shipping>
            </groups>
        </carriers>
    </sections>
</config>