<?xml version="1.0"?>
<!--
/**
 * Copyright (c) 2013 S.L.I. Systems, Inc. (www.sli-systems.com) - All Rights Reserved
 * This file is part of Learning Search Connect.
 * Learning Search Connect is distribute under license,
 * go to www.sli-systems.com/LSC for full license details.
 *
 * THIS CODE AND INFORMATION ARE PROVIDED "AS IS" WITHOUT WARRANTY OF ANY
 * KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND/OR FITNESS FOR A
 * PARTICULAR PURPOSE.
 * 
 * SLI Systems Search integration.
 * 
 * @package SLI
 * @subpackage Search
 */
-->
<config>
    <modules>
        <SLI_Search>
            <version>2.1.3</version>
        </SLI_Search>
    </modules>
    <global>
        <blocks>
            <sli_search>
                <class>SLI_Search_Block</class>
            </sli_search>
            <adminhtml>
                <rewrite>
                    <system_config_form>SLI_Search_Block_System_Config_Form</system_config_form>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <sli_search>
                <class>SLI_Search_Helper</class>
            </sli_search>
        </helpers>
        <models>
            <sli_search>
                <class>SLI_Search_Model</class>
            </sli_search>
        </models>
        <resources>
            <sli_search_setup>
                <setup>
                    <module>SLI_Search</module>
                </setup>
            </sli_search_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <sli_search>
                <use>standard</use>
                <args>
                    <module>SLI_Search</module>
                    <frontName>sli</frontName>
                </args>
            </sli_search>
        </routers>
        <layout>
            <updates>
                <sli_search module="SLI_Search">
                    <file>sli/search.xml</file>
                </sli_search>
            </updates>
        </layout>
    </frontend>
    <default>
        <sli_search>
            <general>
                <enabled>2</enabled>
                <log_level>1</log_level>
                <price_feed>0</price_feed>
            </general>
            <feed>
                <backup>1</backup>
                <submittal/>
                <stockstatus>1</stockstatus>
                <categorystatus>0</categorystatus>                
                <generate/>
                <write_batch>10000</write_batch>
            </feed>
            <ftp>
                <enabled>1</enabled>
                <user/>
                <pass backend_model="adminhtml/system_config_backend_encrypted"/>
                <path/>
            </ftp>
            <form>
                <customform>0</customform>
                <formcode>&lt;!-- Please get configuration from SLI Systems !--&gt;</formcode>
            </form>
            <js>
                <header>&lt;!-- Please get configuration from SLI Systems !--&gt;</header>
                <footer/>
                <autocomplete/>
                <domain/>
            </js>
            <cron>
                <email/>
                <frequency backend_model="sli_search/system_config_backend_cron">D</frequency>
                <time>2,00,00</time>
                <disabled>0</disabled>
            </cron>
            <attributes>
                <attributes backend_model="sli_search/system_config_backend_minigrid" />
            </attributes>
            <default_attributes>
                <attributes>name,url_path,product_id<!--sku,short_description,description,meta_description,price,special_price,special_from_date,special_to_date,news_to_date,news_from_date,image,small_image,product_id,type_id--></attributes>
            </default_attributes>
        </sli_search>
    </default>
    <crontab>
        <sli_search>
            <job_code>sli_feed_generate</job_code>
        </sli_search>
        <jobs>
            <sli_search>
                <run>
                    <model>sli_search/cron::generateFeeds</model>
                </run>
            </sli_search>
        </jobs>
    </crontab>
</config>
