<?xml version="1.0"?>
<config>
    <modules>
        <Cminds_MultiUserAccounts>
            <version>1.4.4</version>
        </Cminds_MultiUserAccounts>
    </modules>
    <global>
        <models>
            <cminds_multiuseraccounts>
                <class>Cminds_MultiUserAccounts_Model</class>
                <resourceModel>cminds_multiuseraccounts_resource</resourceModel>
            </cminds_multiuseraccounts>
            <cminds_multiuseraccounts_resource>
                <class>Cminds_MultiUserAccounts_Model_Resource</class>
                <entities>
                    <subAccount>
                        <table>cminds_multiuseraccounts_subaccount</table>
                    </subAccount>
                    <transfer>
                        <table>cminds_multiuseraccounts_cart_transfers</table>
                    </transfer>
                </entities>
            </cminds_multiuseraccounts_resource>
            <customer>
                <rewrite>
                    <customer>Cminds_MultiUserAccounts_Model_Customer_Customer</customer>
                    <session>Cminds_MultiUserAccounts_Model_Customer_Session</session>
                </rewrite>
            </customer>
            <enterprise_pci>
                <rewrite>
                    <observer>Cminds_MultiUserAccounts_Model_Enterprise_Pci_Observer</observer>
                </rewrite>
            </enterprise_pci>
            <sales>
                <rewrite>
                    <order_api>Cminds_MultiUserAccounts_Model_Sales_Order_Api</order_api>
                    <order>Cminds_MultiUserAccounts_Model_Sales_Order</order>
                    <order_shipment>Cminds_MultiUserAccounts_Model_Sales_Order_Shipment</order_shipment>
                    <order_invoice>Cminds_MultiUserAccounts_Model_Sales_Order_Invoice</order_invoice>
                </rewrite>
            </sales>
        </models>
        <blocks>
            <cminds_multiuseraccounts>
                <class>Cminds_MultiUserAccounts_Block</class>
            </cminds_multiuseraccounts>
            <page>
                <rewrite>
                    <html_welcome>Cminds_MultiUserAccounts_Block_Page_Html_Welcome</html_welcome>
                    <html_header>Cminds_MultiUserAccounts_Block_Page_Html_Header</html_header>
                </rewrite>
            </page>
            <checkout>
                <rewrite>
                    <onepage_link>Cminds_MultiUserAccounts_Block_Checkout_Onepage_Link</onepage_link>
                </rewrite>
            </checkout>
            <customer>
                <rewrite>
                    <account_dashboard_hello>Cminds_MultiUserAccounts_Block_Customer_Account_Dashboard_Hello</account_dashboard_hello>
                    <account_navigation>Cminds_MultiUserAccounts_Block_Customer_Account_Navigation</account_navigation>
                </rewrite>
            </customer>
            <sales>
                <rewrite>
                    <order_history>Cminds_MultiUserAccounts_Block_Sales_Order_History</order_history>
                    <order_recent>Cminds_MultiUserAccounts_Block_Sales_Order_Recent</order_recent>
                </rewrite>
            </sales>
            <adminhtml>
                <rewrite>
                    <!--<sales_order_view_info>Cminds_MultiUserAccounts_Block_Sales_Order_View_Info</sales_order_view_info>-->
                    <sales_order_create_form_account>Cminds_MultiUserAccounts_Block_Sales_Order_Create_Form_Account</sales_order_create_form_account>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <cminds_multiuseraccounts>
                <class>Cminds_MultiUserAccounts_Helper</class>
            </cminds_multiuseraccounts>
        </helpers>
        <resources>
            <multiuseraccounts_setup>
                <setup>
                    <module>Cminds_MultiUserAccounts</module>
                </setup>
            </multiuseraccounts_setup>
        </resources>
        <events>
            <subaccount_save_before>
                <observers>
                    <cminds_multiuseraccounts_subaccount_newpost_after>
                        <class>Cminds_MultiUserAccounts_Model_Observer</class>
                        <method>beforeSaveSubaccount</method>
                    </cminds_multiuseraccounts_subaccount_newpost_after>
                </observers>
            </subaccount_save_before>
            <customer_save_after>
                <observers>
                    <cminds_multiuseraccounts_delete_customer>
                        <class>Cminds_MultiUserAccounts_Model_Observer</class>
                        <method>onCustomerSaveAfter</method>
                    </cminds_multiuseraccounts_delete_customer >
                </observers>
            </customer_save_after>
            <customer_delete_before>
                <observers>
                    <cminds_multiuseraccounts_delete_customer>
                        <class>Cminds_MultiUserAccounts_Model_Observer</class>
                        <method>onCustomerDeleteSubaccount</method>
                    </cminds_multiuseraccounts_delete_customer >
                </observers>
            </customer_delete_before>
        </events>
        <template>
            <email>
                <multiuseraccounts_email_approve module="cminds_multiuseraccounts">
                    <label>Multiuseraccounts email to main account when session is not shared</label>
                    <file>multiuseraccounts_send_for_approve.html</file>
                    <type>html</type>
                </multiuseraccounts_email_approve>
                <multiuseraccounts_email_approve_share>
                    <label>Multiuseraccounts email to main account when session is shared</label>
                    <file>multiuseraccounts_send_for_approve_shared.html</file>
                    <type>html</type>
                </multiuseraccounts_email_approve_share>
                <multiuseraccounts_email_approve_sender module="cminds_multiuseraccounts">
                    <label>Multiuseraccounts email to sender for approve</label>
                    <file>multiuseraccounts_sender_for_approve.html</file>
                    <type>html</type>
                </multiuseraccounts_email_approve_sender>
                <multiuseraccounts_email_quote_approved module="cminds_multiuseraccounts">
                    <label>Multiuseraccounts email to sub account with notifaction that quote was approved</label>
                    <file>multiuseraccounts_quote_was_approved.html</file>
                    <type>html</type>
                </multiuseraccounts_email_quote_approved>
                <multiuseraccounts_email_transfer_cart module="cminds_multiuseraccounts">
                    <label>Multiuseraccounts email to sub account with cart to transfer</label>
                    <file>multiuseraccounts_cart_to_transfer.html</file>
                    <type>html</type>
                </multiuseraccounts_email_transfer_cart>
            </email>
        </template>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <cminds_multiuseraccounts before="Mage_Adminhtml">Cminds_MultiUserAccounts_Adminhtml</cminds_multiuseraccounts>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <cminds_multiuseraccounts_admin>
                    <file>cminds_multiuseraccounts.xml</file>
                </cminds_multiuseraccounts_admin>
            </updates>
        </layout>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <multiuseraccounts_add_column_parent_customer>
                        <type>singleton</type>
                        <class>Cminds_MultiUserAccounts_Model_Observer</class>
                        <method>beforeBlockToHtml</method>
                    </multiuseraccounts_add_column_parent_customer>
                </observers>
            </core_block_abstract_to_html_before>
            <admin_system_config_changed_section_subAccount>
                <observers>
                    <modulename>
                        <type>singleton</type>
                        <class>Cminds_MultiUserAccounts_Model_Observer</class>
                        <method>createCustomersToExist</method>
                    </modulename>
                </observers>
            </admin_system_config_changed_section_subAccount>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <modulename>
                        <type>singleton</type>
                        <class>Cminds_MultiUserAccounts_Model_Observer</class>
                        <method>beforeLayoutLoaded</method>
                    </modulename>
                </observers>
            </core_block_abstract_prepare_layout_before>
        </events>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <cminds_multiuseraccounts>
                    <file>cminds_multiuseraccounts.xml</file>
                </cminds_multiuseraccounts>
            </updates>
        </layout>
        <routers>
            <customer>
                <args>
                    <modules>
                        <cminds_multiuseraccounts before="Mage_Customer">Cminds_MultiUserAccounts</cminds_multiuseraccounts>
                        <cminds_multiuseraccounts_address before="Mage_Customer_AddressController">Cminds_MultiUserAccounts_Customer_Address</cminds_multiuseraccounts_address>
                    </modules>
                </args>
            </customer>
            <sales>
                <args>
                    <modules>
                        <cminds_multiuseraccounts before="Mage_Sales">Cminds_MultiUserAccounts_Sales</cminds_multiuseraccounts>
                    </modules>
                </args>
            </sales>
            <newsletter>
                <args>
                    <modules>
                        <cminds_multiuseraccounts before="Mage_Newsletter">Cminds_MultiUserAccounts_Newsletter</cminds_multiuseraccounts>
                    </modules>
                </args>
            </newsletter>
            <cminds_multiuseraccounts>
                <use>standard</use>
                <args>
                    <module>Cminds_MultiUserAccounts</module>
                    <frontName>multiuseraccounts</frontName>
                </args>
            </cminds_multiuseraccounts>
        </routers>
        <events>
            <sales_convert_quote_to_order>
                <observers>
                    <cminds_multiuseraccounts>
                        <class>Cminds_MultiUserAccounts_Model_Observer</class>
                        <method>checkOrderCreationAuth</method>
                    </cminds_multiuseraccounts>
                </observers>
            </sales_convert_quote_to_order>
            <controller_action_predispatch_checkout_cart_index>
                <observers>
                    <cminds_multiuseraccounts_checkout_cart_index>
                        <class>Cminds_MultiUserAccounts_Model_Observer</class>
                        <method>beforeCartView</method>
                    </cminds_multiuseraccounts_checkout_cart_index>
                </observers>
            </controller_action_predispatch_checkout_cart_index>
            <controller_action_predispatch_checkout_onepage_index>
                <observers>
                    <cminds_multiuseraccounts_checkout_onepage_index>
                        <class>Cminds_MultiUserAccounts_Model_Observer</class>
                        <method>beforeCheckoutView</method>
                    </cminds_multiuseraccounts_checkout_onepage_index>
                </observers>
            </controller_action_predispatch_checkout_onepage_index>
            <sales_order_save_after>
                <observers>
                    <cminds_multiuseraccounts_after_order_save>
                        <class>Cminds_MultiUserAccounts_Model_Observer</class>
                        <method>afterOrderSave</method>
                    </cminds_multiuseraccounts_after_order_save>
                </observers>
            </sales_order_save_after>
            <sales_quote_save_before>
                <observers>
                    <cminds_multiuseraccounts_update_minicart_items_before>
                        <type>singleton</type>
                        <class>Cminds_MultiUserAccounts_Model_Observer</class>
                        <method>onSaveQuote</method>
                    </cminds_multiuseraccounts_update_minicart_items_before>
                </observers>
            </sales_quote_save_before>
            <sales_quote_item_qty_set_after>
                <observers>
                    <cminds_multiuseraccounts_update_minicart_items_after>
                        <type>singleton</type>
                        <class>Cminds_MultiUserAccounts_Model_Observer</class>
                        <method>disapproveMiniQuoteAfter</method>
                    </cminds_multiuseraccounts_update_minicart_items_after>
                </observers>
            </sales_quote_item_qty_set_after>
        </events>
    </frontend>
    <default>
        <subAccount>
            <general>
                <if_customer_share_session>1</if_customer_share_session>
                <customer_group_manageable>0,1,2,4,5</customer_group_manageable>
            </general>
        </subAccount>
    </default>
</config>
