.catalog-product-view .product-view{
    .product-essential{
        overflow:hidden;
    }
    .product-img-box{
        position: relative;

        .product-image{
            width:80%;
            right:0;
            padding:0 20px;
            float:right;
            position:relative;
        }
        .more-views{
            width:20%;
            max-width:180px;
            float: left;

            .product-image-thumbs {
                a:hover {border-color: transparent;}
                img {
                    opacity: 0.2;
                    &.active {
                        opacity: 1;
                        border: 1px solid $brand-primary;
                    }
                }
            }

            &.videos {
                a {
                    position: relative;
                    display: inline-block;
                    
                    &:hover {
                        cursor: pointer;
                        i {
                            color: #00247B;
                        }
                    }

                    i {
                        position: absolute;
                        top: 20px;
                        color: #000;
                        left: 23px;
                        text-shadow: 0 1px 8px rgba(255, 255, 255, 0.71);
                    }
                }
            }
        }
    }
}
.zoomContainer{
    display:block;
}

#overlay_modal {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
}

@include bp(max-width, $bp-medium){
    .catalog-product-view .product-view{
        .product-img-box{
            .product-image{
                position:relative;
                width:auto;
                float:none;
            }
            .more-views{
                width:auto;
                max-width:100%;
                display:block;
                float:none;
            }
        }
    }
    .product-img-box .product-image, .no-touch .product-img-box .product-image:not(.zoom-available):hover{
        position:relative;
    }
}