.catalog-product-view .product-view{
    .product-essential{
        overflow:hidden;
    }
    .product-img-box{
        position: relative;
        overflow:hidden;

        .product-image{
            width:80%;
            position: absolute;
            right:0;
            padding:0 20px;
        }
        .more-views{
            width:20%;
            max-width:180px;
            float: left;
            h2{
                display:none;
            }
        }
    }
}
.zoomContainer{
    display:none;
}

.product-image, .no-touch .product-img-box .product-image:not(.zoom-available):hover{
    position:absolute;
}

@include bp(max-width, $bp-medium){
    .catalog-product-view .product-view{
        .product-img-box{
            .product-image{
                position:relative;
                width:auto;
            }
            .more-views{
                width:auto;
                max-width:100%;
                display:block;
                float:none;
            }
        }
    }
    .product-image, .no-touch .product-img-box .product-image:not(.zoom-available):hover{
        position:relative;
    }
}