<?xml version="1.0"?>
<config>
    <modules>
        <BlueAcorn_CsvExport>
            <version>1.0.0</version>
        </BlueAcorn_CsvExport>
    </modules>
    <global>
        <models>
            <blueacorn_csvexport>
                <class>BlueAcorn_CsvExport_Model</class>
            </blueacorn_csvexport>
        </models>
        <blocks>
            <blueacorn_csvexport>
                <class>BlueAcorn_CsvExport_Block</class>
            </blueacorn_csvexport>
        </blocks>
        <helpers>
            <blueacorn_csvexport>
                <class>BlueAcorn_CsvExport_Helper</class>
            </blueacorn_csvexport>
        </helpers>
    </global>
    <crontab>
        <jobs>
            <blueacorn_csvexport_cron>
                <run>
                    <model>blueacorn_csvexport/observer::createMarketingCsv</model>
                </run>
            </blueacorn_csvexport_cron>
        </jobs>
    </crontab>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <blueacorn_csvexport before="Mage_Adminhtml">BlueAcorn_CsvExport_Adminhtml</blueacorn_csvexport>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>