#
# @CLIENT_CODE:@ENV
#
# !! stick to web*, db*, cache* conventions for ansible host pattern matching
#

Host web-admin
  HostName 192.168.0.100
  User blueacorn

Host web-1
  HostName 192.168.0.101
  User blueacorn

Host web-2
  HostName 192.168.0.102
  User blueacorn

Host web-3
  HostName 192.168.0.103
  User blueacorn

Host cache-1
  HostName 192.168.0.66
  User redis

Host db-1
  HostName 192.168.0.33
  Port 2222
  User mysql


#
# HOST ALIASES
#  ADMIN_HOST: required. typically points to web-1 or web-admin
#  SNAPSHOT_HOST: optional. enables snapshots for this environment. typically points to web-1 or least busy web node
#  CRON_HOST: optional. enables cron for this environment. typically points to web-admin.
#

Host ADMIN_HOST
  HostName 192.168.0.100
  User blueacorn

Host SNAPSHOT_HOST
  HostName 192.168.0.103
  User blueacorn

Host CRON_HOST
  HostName 192.168.0.100
  User blueacorn
