<?xml version="1.0"?>
<config>
    <modules>
        <Wisepricer_Syncer>
	        <version>1.2.0.1</version>
				<url>http://www.wisepricer.com/index.php</url>
				<modulename>Wisepricer Syncer</modulename>	
        </Wisepricer_Syncer>
    </modules>
    <global>
        <models>
            <wisepricer_syncer>
                <class>Wisepricer_Syncer_Model</class> 
                <resourceModel>wisepricer_syncer_mysql4</resourceModel>
            </wisepricer_syncer>
            <wisepricer_syncer_mysql4>
             <class>Wisepricer_Syncer_Model_Mysql4</class>
             <entities>
                <wisepricer_syncer_config>
                        <table>wisepricer_syncer_config</table>
               </wisepricer_syncer_config>
                <wisepricer_syncer_mapping>
                        <table>wisepricer_syncer_mapping</table>
               </wisepricer_syncer_mapping>               
             </entities>
            </wisepricer_syncer_mysql4>
        </models>
        <events>
            <catalog_controller_product_init>
                <observers>
                    <wisepricer_syncer>
                        <class>wisepricer_syncer/observer</class>
                        <method>catalog_controller_product_init</method>
                    </wisepricer_syncer>
                </observers>
            </catalog_controller_product_init>
            <sales_order_payment_pay>
                <observers>
                    <wisepricer_syncer>
                        <class>wisepricer_syncer/observer</class>
                        <method>sales_order_payment_pay</method>
                    </wisepricer_syncer>
                </observers>
            </sales_order_payment_pay>
            <checkout_type_onepage_save_order>
                <observers>
                    <wisepricer_syncer>
                        <class>wisepricer_syncer/observer</class>
                        <method>checkout_type_onepage_save_order</method>
                    </wisepricer_syncer>
                </observers>
            </checkout_type_onepage_save_order>
        </events>
        <resources>
            <syncer_setup>
                <setup>
                    <module>Wisepricer_Syncer</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </syncer_setup>
            <syncer_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </syncer_write>
            <syncer_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </syncer_read>
        </resources>
        <blocks>
            <syncer>
                <class>Wisepricer_Syncer_Block</class>
            </syncer>
        </blocks>
        <helpers>
            <syncer>
                <class>Wisepricer_Syncer_Helper</class>
            </syncer>
        </helpers>
    </global>
    <frontend>
        <routers>
		<wisepricer>
			<use>standard</use>
			<args>
				<module>Wisepricer_Syncer</module>
				<frontName>wisepricer</frontName>
			</args>
		</wisepricer>
        </routers>        
    </frontend>
    <admin>
        <routers>
		<adminhtml>
			<args>
                            <modules>
                                <Wisepricer_Syncer_Adminhtml before="Mage_Adminhtml">Wisepricer_Syncer_Adminhtml</Wisepricer_Syncer_Adminhtml>
                            </modules>
                        </args>
		</adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <syncer>
                                            <title>Wisepricer Configuration</title>
                                        </syncer>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <wisepricer_syncer>
                    <file>syncer.xml</file>
                </wisepricer_syncer>
            </updates>
        </layout>        
        <menu>
          <wisepricer>
            <title>Wisepricer</title>
            <sort_order>70</sort_order>
            <action>adminhtml/syncer/mapping</action>
          </wisepricer>
        </menu>
    </adminhtml>
    <default>
        <syncer>
            <config>
                <ftpport>21</ftpport>
            </config>
        </syncer>
    </default>
</config>
