<?xml version="1.0"?>
<config>
    <modules>
        <BlueAcorn_Legacy>
            <version>0.1.0</version>
        </BlueAcorn_Legacy>
    </modules>
    <global>
        <models>
            <blueacorn_legacy>
                <class>BlueAcorn_Legacy_Model</class>
                <resourceModel>blueacorn_legacy_resource</resourceModel>
            </blueacorn_legacy>
            <blueacorn_legacy_resource>
                <class>BlueAcorn_Legacy_Model_Resource</class>
                <entities>
                    <order>
                        <table>legacy_sales_flat_order</table>
                    </order>
                    <order_item>
                        <table>legacy_sales_flat_order_item</table>
                    </order_item>
                    <order_address>
                        <table>legacy_sales_flat_order_address</table>
                    </order_address>
                    <order_payment>
                        <table>legacy_sales_flat_order_payment</table>
                    </order_payment>
                </entities>
            </blueacorn_legacy_resource>
        </models>
        <blocks>
            <blueacorn_legacy>
                <class>BlueAcorn_Legacy_Block</class>
            </blueacorn_legacy>
        </blocks>
        <resources>
            <blueacorn_legacy_setup>
                <setup>
                    <module>BlueAcorn_Legacy</module>
                </setup>
            </blueacorn_legacy_setup>
        </resources>
        <helpers>
            <blueacorn_legacy>
                <class>BlueAcorn_Legacy_Helper</class>
            </blueacorn_legacy>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <blueacorn_legacy>
                    <file>blueacorn/legacy.xml</file>
                </blueacorn_legacy>
            </updates>
        </layout>
        <routers>
            <blueacorn_legacy>
                <use>standard</use>
                <args>
                    <module>BlueAcorn_Legacy</module>
                    <frontName>legacy</frontName>
                </args>
            </blueacorn_legacy>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <BlueAcorn_Legacy before="Mage_Adminhtml">BlueAcorn_Legacy_Adminhtml</BlueAcorn_Legacy>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>