<?xml version="1.0"?>
<config>
    <modules>
        <BlueAcorn_Homepage>
            <version>0.2.0</version>
        </BlueAcorn_Homepage>
    </modules>
    <global>
        <resources>
            <blueacorn_homepage_setup>
                <setup>
                    <module>BlueAcorn_Homepage</module>
                </setup>
            </blueacorn_homepage_setup>
        </resources>
        <helpers>
            <blueacorn_homepage>
                <class>BlueAcorn_Homepage_Helper</class>
            </blueacorn_homepage>
        </helpers>
    </global>
</config>