<?xml version="1.0"?>
<config>
    <modules>
        <Shiphawk_Order>
            <version>2.0.0</version>
        </Shiphawk_Order>
    </modules>
    <global>
        <blocks>
            <shiphawk_order>
                <class>Shiphawk_Order_Block</class>
            </shiphawk_order>
        </blocks>
        <models>
            <shiphawk_order>
                <class>Shiphawk_Order_Model</class>
            </shiphawk_order>
        </models>
        <helpers>
            <shiphawk_order>
                <class>Shiphawk_Order_Helper</class>
            </shiphawk_order>
        </helpers>
        <resources>
            <shiphawk_order_setup>
                <setup>
                    <module>Shiphawk_Order</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </shiphawk_order_setup>
        </resources>
        <events>
            <sales_order_save_after>
                <observers>
                    <shiphawk_order_save>
                        <type>singleton</type>
                        <class>shiphawk_order/observer_order</class>
                        <method>changeStatus</method>
                    </shiphawk_order_save>
                </observers>
            </sales_order_save_after>
            <sales_order_place_after>
                <observers>
                    <shiphawk_order_place>
                        <type>singleton</type>
                        <class>shiphawk_order/observer_order</class>
                        <method>push</method>
                    </shiphawk_order_place>
                </observers>
            </sales_order_place_after>
            <admin_system_config_changed_section_shiphawk>
                <observers>
                    <shiphawk_order_sytem_config_changed>
                        <type>singleton</type>
                        <class>shiphawk_order/observer_config</class>
                        <method>check</method>
                    </shiphawk_order_sytem_config_changed>
                </observers>
            </admin_system_config_changed_section_shiphawk>
        </events>
    </global>
    <default>
        <shiphawk>
            <order>
                <active>1</active>
                <gateway_url>https://shiphawk.com/api/v4/</gateway_url>
            </order>
        </shiphawk>
    </default>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <shiphawk translate="title" module="shiphawk_order">
                                            <title>Shiphawk Settings</title>
                                        </shiphawk>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <crontab>
        <jobs>
            <shiphawk_order_procces_14days>
                <schedule>
                    <cron_expr>* * */1 * *</cron_expr>
                </schedule>
                <run>
                    <model>shiphawk_order/cron_processOrderForLast14Days::run</model>
                </run>
            </shiphawk_order_procces_14days>
        </jobs>
    </crontab>
</config>
