.my-account{
    .count-container{
        p{
            line-height:76px;
            height:46px;
        }
    }

    .widget-addbysku{
        .input-box.validation-passed:before{
            left:-18px;
        }
    }
}

.account-login, .my-account{
    #giftcard-form,
    .registered-users,
    .widget-addbysku,
    {
        .input-box.validation-passed:before{
            top:14px;
        }
    }
    .input-box.email.validation-passed:before,
    .input-box.company.validation-passed:before,
    .input-box.address.validation-passed:before{
        top:14px;
    }
}