<?xml version="1.0"?>
<config>
    <modules>
        <BlueAcorn_Southware>
            <version>1.0.0</version>
        </BlueAcorn_Southware>
    </modules>
    <global>
        <models>
            <sales>
                <rewrite>
                    <order_api>BlueAcorn_Southware_Model_Order_Api</order_api>
                </rewrite>
            </sales>
            <sales_resource>
                <rewrite>
                    <order>BlueAcorn_Southware_Model_Resource_Order</order>
                </rewrite>
            </sales_resource>
            <southware>
                <class>BlueAcorn_Southware_Model</class>
            </southware>
        </models>
        <helpers>
            <southware>
                <class>BlueAcorn_Southware_Helper</class>
            </southware>
        </helpers>
    </global>
    <crontab>
        <jobs>
            <blueacorn_southware>
                <schedule><cron_expr>*/15 * * * *</cron_expr></schedule>
                <run>
                    <model>southware/order_ebridge::getDocumentList</model>
                </run>
            </blueacorn_southware>
        </jobs>
    </crontab>
    <default>
        <blueacorn_southware>
            <api_settings>
                <api_url>https://www.ebridgeservices.com/eportalservice.asmx</api_url>
                <api_user>MAPI21029</api_user>
                <api_password>932369</api_password>
            </api_settings>
        </blueacorn_southware>
    </default>
</config>