<?xml version="1.0"?>
<config>
    <modules>
        <BlueAcorn_CustomerGroupCustomizations>
            <version>0.1.0</version>
        </BlueAcorn_CustomerGroupCustomizations>
    </modules>
    <global>
        <models>
            <blueacorn_customergroupcustomizations>
                <class>BlueAcorn_CustomerGroupCustomizations_Model</class>
                <resourceModel>blueacorn_customergroupcustomizations_resource</resourceModel>
            </blueacorn_customergroupcustomizations>
            <blueacorn_customergroupcustomizations_resource>
                <class>BlueAcorn_CustomerGroupCustomizations_Model_Resource</class>
            </blueacorn_customergroupcustomizations_resource>
        </models>
        <blocks>
            <blueacorn_customergroupcustomizations>
                <class>BlueAcorn_CustomerGroupCustomizations_Block</class>
            </blueacorn_customergroupcustomizations>
            <!--<levementum_groupdisplay>-->
                <!--<rewrite>-->
                    <!--<adminhtml_customer_group_edit_form>-->
                        <!--BlueAcorn_CustomerGroupCustomizations_Block_GroupDisplay_Adminhtml_Customer_Group_Edit_Form-->
                    <!--</adminhtml_customer_group_edit_form>-->
                <!--</rewrite>-->
            <!--</levementum_groupdisplay>-->
            <adminhtml>
                <rewrite>
                    <customer_group_edit_form>BlueAcorn_CustomerGroupCustomizations_Block_GroupDisplay_Adminhtml_Customer_Group_Edit_Form</customer_group_edit_form>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <blueacorn_customergroupcustomizations>
                <class>BlueAcorn_CustomerGroupCustomizations_Helper</class>
            </blueacorn_customergroupcustomizations>
        </helpers>
        <resources>
            <blueacorn_customergroupcustomizations_setup>
                <setup>
                    <module>BlueAcorn_CustomerGroupCustomizations</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </blueacorn_customergroupcustomizations_setup>
            <new_attribute_setup_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </new_attribute_setup_write>
            <new_attribute_setup_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </new_attribute_setup_read>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <blueacorn_customergroupcustomizations before="Mage_Adminhtml">BlueAcorn_CustomerGroupCustomizations_Adminhtml</blueacorn_customergroupcustomizations>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <layout>
            <updates>
                <blueacorn_customergroupcustomizations>
                    <file>blueacorn/blueacorn_customergroupcustomizations.xml</file>
                </blueacorn_customergroupcustomizations>
            </updates>
        </layout>
    </frontend>
</config>