
# magento
#########

# directories
media
!*/media
var
!*/var
/.modman/

# config
/.htaccess
/robots.txt
/app/etc/local.xml

# application
/sitemap.xml
/data/processed/*
/data/*.csv
/downloader/pearlib/cache/
/downloader/*.cfg

# skel
/.htaccess.skel
/app/etc/local.xml.skel
