<?xml version="1.0"?>
<config>
    <modules>
        <BlueAcorn_CategoryPage>
            <version>1.0.0</version>
        </BlueAcorn_CategoryPage>
    </modules>
    <global>
        <models>
            <blueacorn_categorypage>
                <class>BlueAcorn_CategoryPage_Model</class>
                <resourceModel>blueacorn_categorypage_resource</resourceModel>
            </blueacorn_categorypage>
            <blueacorn_categorypage_resource>
                <class>BlueAcorn_CategoryPage_Model_Resource</class>
            </blueacorn_categorypage_resource>
            <catalog>
                <rewrite>
                    <layer_filter_price>BlueAcorn_CategoryPage_Model_Catalog_Layer_Filter_Price</layer_filter_price>
                </rewrite>
            </catalog>
        </models>
        <blocks>
            <blueacorn_categorypage>
                <class>BlueAcorn_CategoryPage_Block</class>
            </blueacorn_categorypage>
        </blocks>
        <helpers>
            <blueacorn_categorypage>
                <class>BlueAcorn_CategoryPage_Helper</class>
            </blueacorn_categorypage>
        </helpers>
        <resources>
            <blueacorn_categorypage_setup>
                <setup>
                    <module>BlueAcorn_CategoryPage</module>
                </setup>
            </blueacorn_categorypage_setup>
        </resources>
    </global>
</config>