// ----------------------------------------------
// Modules

// The sort order here is important for two reasons:
//  1. The compiled CSS needs to be logically ordered/grouped (NOT alphabetically ordered)
//  2. Selectors of equal weight get applied based on which appears last in the stylesheet,
//     so we should try not to change this order once it is in place

@import "module/checkout-cart";
@import "module/configurableswatches";
@import "module/paypal";
@import "module/wishlist";
@import "module/tags";
@import "module/captcha";
@import "module/split-button";
@import "module/account-orders";
@import "module/recurring-profiles";
@import "module/billing-agreements";
@import "module/popular-terms";


// ----------------------------------------------
// Enterprise Modules
@import "module/store-credit";
@import "module/gift-registry";
@import "module/enterprise-wishlist";
@import "module/customer-order";
