<?xml version="1.0"?>
<config>
    <modules>
        <BlueAcorn_StyleGuide>
            <version>0.1.0</version>
        </BlueAcorn_StyleGuide>
    </modules>
    <global>
        <resources>
            <blueacorn_styleguide_setup>
                <setup>
                    <module>BlueAcorn_StyleGuide</module>
                </setup>
            </blueacorn_styleguide_setup>
        </resources>
        <helpers>
            <styleguide>
                BlueAcorn_StyleGuide_Helper
            </styleguide>
        </helpers>
    </global>
    <frontend>
        <jsconfig>
            <styleguide>
                <development>
                    <enable_development>
                        <type>boolean</type>
                    </enable_development>
                </development>
            </styleguide>
        </jsconfig>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <styleguide>
                                            <title>Style Guide Settings</title>
                                        </styleguide>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <sections>
        <styleguide>
            <groups>
                <development>
                    <enable_development>1</enable_development>
                </development>
            </groups>
        </styleguide>
    </sections>
</config>
