<?xml version="1.0"?>
<config>
    <modules>
        <Levementum_GroupDisplay>
            <version>0.1.0</version>
        </Levementum_GroupDisplay>
    </modules>
    <global>
        <blocks>
            <levementum_groupdisplay>
                <class>Levementum_GroupDisplay_Block</class>
            </levementum_groupdisplay>
            <adminhtml>
                <rewrite>
                    <customer_group_edit_form>Levementum_GroupDisplay_Block_Adminhtml_Customer_Group_Edit_Form</customer_group_edit_form>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <levementum_groupdisplay>
                <class>Levementum_GroupDisplay_Helper</class>
            </levementum_groupdisplay>
        </helpers>
        <resources>
            <levementum_groupdisplay_setup>
                <setup>
                    <module>Levementum_GroupDisplay</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </levementum_groupdisplay_setup>
            <levementum_groupdisplay_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </levementum_groupdisplay_read>
            <levementum_groupdisplay_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </levementum_groupdisplay_write>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <levementum_groupdisplay module="Levementum_GroupDisplay">
                    <file>levementum/groupdisplay.xml</file>
                </levementum_groupdisplay>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <levementum_groupdisplay before="Mage_Adminhtml">Levementum_GroupDisplay_Adminhtml</levementum_groupdisplay>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>