<?xml version="1.0"?>
<config>
    <modules>
        <Cminds_MultiuserSubaccounts>
            <version>1.0.2</version>
        </Cminds_MultiuserSubaccounts>
    </modules>
    <global>
        <helpers>
            <cminds_multiusersubaccounts>
                <class>Cminds_MultiuserSubaccounts_Helper</class>
            </cminds_multiusersubaccounts>
        </helpers>

        <models>
            <cminds_multiusersubaccounts>
                <class>Cminds_MultiuserSubaccounts_Model</class>
                <resourceModel>cminds_multiusersubaccounts_resource</resourceModel>
            </cminds_multiusersubaccounts>
            <cminds_multiusersubaccounts_resource>
                <class>Cminds_MultiuserSubaccounts_Model_Resource</class>
                <entities>
                    <binded>
                        <table>cminds_multiusersubaccounts_binded</table>
                    </binded>
                </entities>
            </cminds_multiusersubaccounts_resource>
        </models>

        <blocks>
            <cminds_multiusersubaccounts>
                <class>Cminds_MultiuserSubaccounts_Block</class>
            </cminds_multiusersubaccounts>
            <cminds_multiuseraccounts>
                <rewrite>
                    <customer_account_navigation>Cminds_MultiuserSubaccounts_Block_Customer_Account_Navigation</customer_account_navigation>
                </rewrite>
            </cminds_multiuseraccounts>
        </blocks>
        <resources>
            <multiusersubaccounts_setup>
                <setup>
                    <module>Cminds_MultiuserSubaccounts</module>
                </setup>
            </multiusersubaccounts_setup>
        </resources>
    </global>
    <adminhtml>
        <events>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <cminds_extramultiuser_tab_event>
                        <type>singleton</type>
                        <class>Cminds_MultiuserSubaccounts_Model_Adminhtml_Observer</class>
                        <method>addBindedTab</method>
                    </cminds_extramultiuser_tab_event>
                </observers>
            </core_block_abstract_prepare_layout_after>
        </events>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <cminds_multiusersubaccounts>
                    <file>cminds_multiusersubaccounts.xml</file>
                </cminds_multiusersubaccounts>
            </updates>
        </layout>
    <routers>
        <customer>
            <args>
                <modules>
                    <cminds_multiusersubaccounts before="Mage_MultiUserAccounts">Cminds_MultiuserSubaccounts</cminds_multiusersubaccounts>
                </modules>
            </args>
        </customer>
    </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <cminds_multiusersubaccounts before="Cminds_MultiUserAccounts_Adminhtml">Cminds_MultiuserSubaccounts_Adminhtml</cminds_multiusersubaccounts>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>