
# magento
#########

# directories
media
!*/media
var
!*/var
/.modman/

# config
/.htaccess
/robots.txt
/app/etc/local.xml

# application
/data/processed/*
/data/*.csv
/downloader/pearlib/cache/
/downloader/*.cfg

# compiled files
skin/frontend/blueacorn/mis/css/
skin/frontend/blueacorn/mis/jsmin/
