
# magento
#########

# directories
media
!*/media
var
!*/var
/.modman/

# config
/.htaccess
/robots.txt
/app/etc/local.xml

# application
/data/processed/*
/data/*.csv
/downloader/pearlib/cache/
/downloader/*.cfg


# wordpress blog
wp/
