<?xml version="1.0"?>
<!--
/**
 * BlueAcorn_SpecialPricing
 * @category       BlueAcorn
 * @package        BlueAcorn_SpecialPricing
 */
-->
<config>
    <modules>
        <BlueAcorn_SpecialPricing>
            <version>1.0.6</version>
        </BlueAcorn_SpecialPricing>
    </modules>
    <global>
        <resources>
            <blueacorn_specialpricing_setup>
                <setup>
                    <module>BlueAcorn_SpecialPricing</module>
                    <class>BlueAcorn_SpecialPricing_Model_Resource_Setup</class>
                </setup>
            </blueacorn_specialpricing_setup>
        </resources>
        <blocks>
            <blueacorn_specialpricing>
                <class>BlueAcorn_SpecialPricing_Block</class>
            </blueacorn_specialpricing>
        </blocks>
        <helpers>
            <blueacorn_specialpricing>
                <class>BlueAcorn_SpecialPricing_Helper</class>
            </blueacorn_specialpricing>
        </helpers>
        <models>
            <blueacorn_specialpricing>
                <class>BlueAcorn_SpecialPricing_Model</class>
                <resourceModel>blueacorn_specialpricing_resource</resourceModel>
            </blueacorn_specialpricing>
            <blueacorn_specialpricing_resource>
                <class>BlueAcorn_SpecialPricing_Model_Resource</class>
                <entities>
                    <token>
                        <table>blueacorn_specialpricing_token</table>
                    </token>
                    <token_store>
                        <table>blueacorn_specialpricing_token_store</table>
                    </token_store>
                </entities>
            </blueacorn_specialpricing_resource>
        </models>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <blueacorn_specialpricing>
                    <file>blueacorn_specialpricing.xml</file>
                </blueacorn_specialpricing>
            </updates>
        </layout>
        <translate>
            <modules>
                <BlueAcorn_SpecialPricing>
                    <files>
                        <default>BlueAcorn_SpecialPricing.csv</default>
                    </files>
                </BlueAcorn_SpecialPricing>
            </modules>
        </translate>
        <global_search>
            <token>
                <class>blueacorn_specialpricing/adminhtml_search_token</class>
                <acl>blueacorn_specialpricing</acl>
            </token>
        </global_search>
    </adminhtml>
    <frontend>
        <events>
            <checkout_cart_product_add_after>
                <observers>
                    <blueacorn_specialpricing_addtocart>
                        <class>blueacorn_specialpricing/observer</class>
                        <method>adjustMapPrice</method>
                    </blueacorn_specialpricing_addtocart>
                </observers>
            </checkout_cart_product_add_after>
            <customer_login>
                <observers>
                    <blueacorn_specialpricing_login>
                        <class>blueacorn_specialpricing/observer</class>
                        <method>unsetMapPrices</method>
                    </blueacorn_specialpricing_login>
                </observers>
            </customer_login>
        </events>
        <routers>
            <map>
                <use>standard</use>
                <args>
                    <module>BlueAcorn_SpecialPricing</module>
                    <frontName>map</frontName>
                </args>
            </map>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <BlueAcorn_SpecialPricing before="Mage_Adminhtml">BlueAcorn_SpecialPricing_Adminhtml</BlueAcorn_SpecialPricing>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <blueacorn_specialpricing>
            <general>
                <email_address>support</email_address>
            </general>
        </blueacorn_specialpricing>
    </default>
</config>
